
@font-face {
  font-family: "Chango";
  src: url("Chango-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-chango {
  font-family: "Chango" !important;
}

@font-face {
  font-family: "Chango";
  src: url("Chango-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-chango {
  font-family: "Chango" !important;
}
