<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center pt-5 pb-5">
      <span class="text-muted">
        Created by <a target="_blank" href="https://stefanbohacek.online/@stefan">Stefan Bohacek</a> |
        <a target="_blank" href="https://github.com/stefanbohacek/public-domain-film-quote-search">View source</a>
      </span>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6 col-md-4 mx-auto text-center">
        <p>
          <a href="https://fightfascism.glitch.me/">
            <img loading="lazy" title="Fight Fascism sticker by Angus Johnston" alt="Fight fascism" src="/images//logos/fight-fascism-square.png">
          </a>
        </p>
      </div>
      <div class="col-sm-6 col-md-4 mx-auto text-center">
        <p>
          <a href="https://blacklivesmatter.com/">
            <img loading="lazy" alt="Black Lives Matter" title="Black Lives Matter logo" src="/images//logos/blm.png">
          </a>
        </p>              
      </div>      
      <div class="col-sm-6 col-md-4 mx-auto text-center">      
        <p>
          <a href="https://indieweb.org/">
            <img loading="lazy" alt="IndieWeb" title="Support #indieweb!" src="/images//logos/indiewebcamp-black.png">
          </a>
        </p>
      </div>
    </div>
  </div>  
</footer>
