
@font-face {
  font-family: "static";
  src: url("Cinzel-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}

@font-face {
  font-family: "static";
  src: url("Cinzel-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}

@font-face {
  font-family: "static";
  src: url("Cinzel-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}

@font-face {
  font-family: "static";
  src: url("Cinzel-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}

@font-face {
  font-family: "static";
  src: url("Cinzel-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}

@font-face {
  font-family: "static";
  src: url("Cinzel-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}

@font-face {
  font-family: "static";
  src: url("Cinzel-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}

@font-face {
  font-family: "static";
  src: url("Cinzel-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}

@font-face {
  font-family: "static";
  src: url("Cinzel-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}

@font-face {
  font-family: "static";
  src: url("Cinzel-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}

@font-face {
  font-family: "static";
  src: url("Cinzel-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}

@font-face {
  font-family: "static";
  src: url("Cinzel-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.font-static {
  font-family: "static" !important;
}
