<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="display-4 fw-normal text-center my-5">{{{__ "about_page_title"}}}</h1>
            <p>{{{__ "about_description"}}}</p>
            <ul>
                <li>Рустина
                    <ul>
                        <li>
                            <a rel="me" href="https://lamp.leemoon.network/@sarahquartz">Sarah Quartz</a>
                        </li>
                    </ul>
                </li>
                <li>Slovenčina
                    <ul>
                        <li>
                            <a rel="me" href="https://stefanbohacek.online/@stefan">Štefan Boháček</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <p class="mt-5"><a href="/">{{{__ "about_cta_home"}}}</a></p>
        </div>
    </div>
</div>