<div class="d-flex align-items-center vh-100 position-relative overflow-hidden text-center">
    <div class="mx-auto my-5">
        <h1 class="display-4 fw-normal">What is <mark>fediverse</mark>? </h1>
        <a class="btn btn-outline-secondary mt-5" href="#intro">Explore</a>
    </div>
</div>
<div id="intro" class="container mb-5 mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 sticky-top animation-wrapper">
            <div class="sticky-top animation-wrapper p-3 pt-5 mb-3">
                <div class='network-animation'>
                    <div class='item'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img class="logo" src="images/logos/email/gmail.svg"
                                data-email="gmail"
                                data-social="facebook"
                                data-fediverse="mastodon">
                        </div>
                    </div>
                    <div class='item'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img class="logo" src="images/logos/email/outlook.svg"
                                data-email="outlook"
                                data-social="instagram"
                                data-fediverse="peertube">
                        </div>
                    </div>
                    <div class='item'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img class="logo" src="images/logos/email/yahoo-mail.svg"
                                data-email="yahoo-mail"
                                data-social="pinterest"
                                data-fediverse="pixelfed">
                        </div>
                    </div>
                    <div class='item'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img class="logo" src="images/logos/email/icloud-mail.svg"
                                data-email="icloud-mail"
                                data-social="snapchat"
                                data-fediverse="funkwhale">
                        </div>
                    </div>
                    <div class='item -type2'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img class="logo" src="images/logos/email/aol.svg"
                                data-email="aol"
                                data-social="tiktok"
                                data-fediverse="writefreely">
                        </div>
                    </div>
                    <div class='item -type2'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img class="logo" src="images/logos/email/proton-mail.svg"
                                data-email="proton-mail"
                                data-social="twitter"
                                data-fediverse="lemmy">
                        </div>
                    </div>
                    <div class='item -type2'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img class="logo" src="images/logos/email/zoho.svg"
                                data-email="zoho"
                                data-social="wechat"
                                data-fediverse="misskey">
                        </div>
                    </div>
                    <div class='item -type2'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img class="logo" src="images/logos/email/gmx.svg"
                                data-email="gmx"
                                data-social="whatsapp"
                                data-fediverse="pleroma">
                        </div>
                    </div>
                    <div class='center'>
                        <div class='circle'></div>
                    </div>
                </div>          
            </div>
        </div>
        <div class="col-sm-12 col-md-6 order-md-1">
            <div id="what-is" class="step vh-100 pt-3" data-step="0" data-scrollama-index="0">
                <p class="p-2 lead bg-dark">
                    A good analogy for the fediverse is <mark>email</mark>.
                </p>
                <p class="p-2 bg-dark">
                    You're probably using Gmail. Or perhaps Outlook. Or Yahoo Mail.
                </p>
                <p class="p-2 bg-dark">
                    Regardless of your choice, you can send an email to <mark>anyone</mark> in the world without knowing or caring what service they use.
                </p>
                <p class="p-2 mt-5">
                    <a class="btn btn-outline-secondary d-none d-md-inline" href="#other-social">Neat</a>
                </p>
            </div>
            <div id="other-social" class="step vh-100 pt-3" data-step="1" data-scrollama-index="1">
                <p class="p-2 lead bg-dark">
                    This is not the case for social media.
                </p>
                <p class="p-2 bg-dark">
                    If you're on Instagram or TikTok, and your friends or celebrities you like are on Twitter, or Facebook, you will have to sign up for <mark>each separate service</mark> to stay in touch with them.
                </p>
                <p class="p-2 mt-5">
                    <a class="btn btn-outline-secondary d-none d-md-inline" href="#what-if">Good point</a>
                </p>
            </div>
            <div id="what-if" class="step vh-100 pt-3" data-step="2" data-scrollama-index="2">
                <p class="p-2 lead bg-dark">
                    But what if you could sign up for just <mark>one site</mark>, and follow <mark>anyone</mark> in the world, just like sending them an email?
                </p>
                <p class="p-2 bg-dark">
                    That's exactly what fediverse lets you do.
                </p>
                <p class="p-2 mt-5">
                    <a class="btn btn-outline-secondary d-none d-md-inline" href="#fediverse">Interesting</a>
                </p>
            </div>
            <div id="fediverse" class="step vh-100 pt-3" data-step="3" data-scrollama-index="3">
                <p class="p-2 lead bg-dark">
                    Fediverse is a common name for social media sites that <mark>cooperate</mark> instead of competing.
                </p>
                <p class="p-2 bg-dark">
                    And every major social media site has a great <mark>alternative</mark> in the fediverse, so it doesn't matter if you're into sharing images, videos, news, or just short quips. You will find <mark>your home</mark>.
                </p>
                <p class="p-2 mt-5">
                    <a class="btn btn-outline-secondary" href="#into-the-fediverse">Alright!</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="d-flex align-items-center vh-100 position-relative overflow-hidden text-center">
    <div id="into-the-fediverse" class="mx-auto my-5">
        <a class="d-block d-md-inline" href="/join">Join the fediverse</a>
        or
        <a class="d-block d-md-inline" href="/learn">See how it works</a>
    </div>
</div>