<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="mx-auto text-center">
                <h1 class="display-4 fw-normal my-5">Join the <mark>fediverse</mark></h1>
                <p class="text-start">
                    Here are some of the popular <mark>fediverse alternatives</mark> to commercial social media sites. You can join any of these and still <mark>follow anyone</mark> on the other services, because they all speak the same language, unlike traditional social media.
                </p>
            </div>
        </div>
        <div class="col-sm-12">
            <table class="mx-auto mt-5 mb-5 w-100 social-media-alternatives">
                <tr class="text-start">
                  <th class="w-50 p-2">If you like...</th>
                  <th class="w-50 p-2">You should try...</th>
                </tr>
                <tr class="text-start">
                  <td class="p-3">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <img width="50" height="50" alt="Instagram logo" class="logo-small" src="/images/logos/social/instagram.svg">
                        Instagram
                    </span>
                  </td>
                  <td class="p-3">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://joinfediverse.wiki/What_is_Pixelfed%3F">
                            <img width="50" height="50" alt="Pixelfed logo" class="logo-small" src="/images/logos/fediverse/pixelfed.svg">
                            Pixelfed
                        </a>
                    </span>
                  </td>
                </tr>
                <tr class="text-start">
                  <td class="p-3">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <img width="50" height="50" alt="Facebook logo" class="logo-small" src="/images/logos/social/facebook.svg">
                        Facebook
                    </span>
                  </td>
                  <td class="p-3">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://joinfediverse.wiki/What_is_Friendica%3F">
                            <img width="50" height="50" alt="Friendica logo" class="logo-small" src="/images/logos/fediverse/friendica.svg">
                            Friendica
                        </a>
                    </span>
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://joinfediverse.wiki/What_is_Mobilizon%3F">
                            <img width="50" height="50" alt="Mobilizon logo" class="logo-small" src="/images/logos/fediverse/mobilizon.svg">
                            Mobilizon
                        </a>
                    </span>
                  </td>
                </tr>
                <tr class="text-start">
                    <td class="p-3">
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="YouTube logo" class="logo-small" src="/images/logos/social/youtube.svg">
                          YouTube
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50"  alt="Vimeo logo" class="logo-small" src="/images/logos/social/vimeo.svg">
                          Vimeo
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="TikTok logo" class="logo-small" src="/images/logos/social/tiktok.svg">
                          TikTok
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="Twitch logo" class="logo-small" src="/images/logos/social/twitch.svg">
                          Twitch
                      </span>
                    </td>
                    <td class="p-3">
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinfediverse.wiki/What_is_Peertube%3F">
                              <img width="50" height="50" alt="Peertube logo" class="logo-small" src="/images/logos/fediverse/peertube.svg">
                              Peertube
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinfediverse.wiki/What_is_Owncast%3F">
                              <img width="50" height="50" alt="Owncast logo" class="logo-small" src="/images/logos/fediverse/owncast.svg">
                              Owncast
                          </a>
                      </span>
                    </td>
                </tr>
                <tr class="text-start">
                    <td class="p-3">
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="Twitter logo" class="logo-small" src="/images/logos/social/twitter.svg">
                          Twitter
                      </span>
                    </td>
                    <td class="p-3">
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinfediverse.wiki/What_is_Mastodon%3F">
                              <img width="50" height="50" alt="Mastodon logo" class="logo-small" src="/images/logos/fediverse/mastodon.svg">
                              Mastodon
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinfediverse.wiki/Draft:Pleroma">
                              <img width="50" height="50" alt="Pleroma logo" class="logo-small" src="/images/logos/fediverse/pleroma.svg">
                              Pleroma
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinfediverse.wiki/What_is_Misskey%3F">
                              <img width="50" height="50" alt="Misskey logo" class="logo-small" src="/images/logos/fediverse/misskey.png">
                              Misskey
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinfediverse.wiki/What_is_Akkoma%3F">
                              <img width="50" height="50" alt="Akkoma logo" class="logo-small" src="/images/logos/fediverse/akkoma.svg">
                              Akkoma
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinfediverse.wiki/What_is_Calckey%3F/en">
                              <img width="50" height="50" alt="Calckey logo" class="logo-small" src="/images/logos/fediverse/calckey.svg">
                              Calckey
                          </a>
                      </span>
                  </td>
                </tr>
                <tr class="text-start">
                    <td class="p-3">
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="Reddit logo" class="logo-small" src="/images/logos/social/reddit.svg">
                          Reddit
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="Hacker News logo" class="logo-small" src="/images/logos/social/hacker-news.svg">
                          Hacker News
                      </span>
                    </td>
                    <td class="p-3">
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinfediverse.wiki/What_is_Lemmy%3F">
                              <img width="50" height="50" alt="Lemmy logo" class="logo-small" src="/images/logos/fediverse/lemmy.svg">
                              Lemmy
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinfediverse.wiki/What_is_Kbin">
                              <img width="50" height="50" alt="Kbin logo" class="logo-small" src="/images/logos/fediverse/kbin.png">
                              Kbin
                          </a>
                      </span>
                  </td>
                </tr>
                  <tr class="text-start">
                  <td class="p-3">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <img width="50" height="50" alt="Medium logo" class="logo-small" src="/images/logos/social/medium.svg">
                        Medium
                    </span>
                  </td>
                  <td class="p-3">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://joinfediverse.wiki/What_is_WriteFreely%3F">
                            <img width="50" height="50" alt="WriteFreely logo" class="logo-small" src="/images/logos/fediverse/writefreely.png">
                            WriteFreely
                        </a>
                    </span>
                  </td>
                </tr>
                  <tr class="text-start">
                  <td class="p-3">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <img width="50" alt="GoodReads logo" class="logo-small" src="/images/logos/social/goodreads.svg">
                        GoodReads
                    </span>
                  </td>
                  <td class="p-3">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://joinfediverse.wiki/What_is_BookWyrm%3F">
                            <img width="50" height="50" alt="BookWyrm logo" class="logo-small" src="/images/logos/fediverse/bookwyrm.png">
                            BookWyrm
                        </a>
                    </span>
                  </td>
                </tr>
              </table>
        </div>
        <div class="col-sm-12 ">
            <div class="mx-auto my-5">
                <p>
                    You can also browse fediverse communities based on <mark>interests</mark> at <a href="https://joinfediverse.wiki/Instances">joinfediverse.wiki</a>, or by <mark>features</mark> that the various networks offer at <a href="https://fediverse.info/explore/projects">fediverse.info</a> or at the bottom of <a href="https://calckey.org/#comparison">calckey.org</a>
                </p>
                <p>
                    And once you're in, you can find some <mark>popular accounts</mark> and content to follow:
                </p>
                <ul>
                    <li>
                        <a href="https://feditrends.com/">feditrends.com</a>: aggregating what's trending across the fediverse
                    </li>
                    <li>
                        <a href="https://fedi.directory/">fedi.directory</a>: interesting accounts to follow
                    </li>
                    <li>
                        <a href="https://www.fedified.com/">fedified.com</a>: notable accounts on Mastodon
                    </li>
                    <li>
                        <a href="https://fediverse-explorer.stefanbohacek.dev/">Fediverse Explorer</a>: browse most recent public posts across the fediverse by hashtag
                    </li>
                </ul>
                <p class="mt-5"><a href="/">Go back home</a> or <a href="/learn">dive deeper</a></p>
            </div>
        </div>
    </div>
</div>