body,
p.bg-dark,
ul {
  background-color: var(--background-primary) !important;
  color: var(--color-primary);
}

h1 mark {
  background: #8c6bf2;
  /* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
  /* background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

[data-bs-theme="dark"] h1 mark {
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

[data-bs-theme="light"] h1 mark {
background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);

}

h1,
h2,
h3,
h4,
p {
  color: var(--color-primary) !important;
}

a.nav-link {
  color: var(--color-link) !important;
}

a.nav-link:hover {
  color: var(--color-link-hover) !important;
}

p mark,
ul mark {
  font-weight: bold;
  color: var(--color-primary);
  background: none;
}

a {
  color: var(--color-link) !important;
}

a:hover,
a:focus {
  color: var(--color-link-hover) !important;
}

a.btn:hover,
a.btn:focus {
  color: var(--color-link) !important;
}

.lead {
  color: var(--color-headline);
}

p {
  color: var(--color-secondary);
}

.navbar-toggler-icon {
  filter: invert(1);
}
[data-bs-theme="dark"] .navbar-toggler-icon {
  filter: none;
}
