body{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem !important;
}

h1, h2, h3, h4{
    font-family: 'Anton', sans-serif;
}

h1{
    font-size: 4rem !important;
}

.lead{
    font-size: 1.8rem !important;
}

.navbar-nav{
    font-size: 1.2rem !important;
}