img.logo{
    display: block;
    width: 36px;
    height: 36px;
    object-fit: contain;
    margin: 0 auto;
}

img.logo-small{
    max-width: 50px;
    max-height: 50px;
}

.logo-small-wrapper{
    text-align: center;
    font-size: 0.9rem;
}

.logo-small-wrapper img{
    display: block;
    margin: 0 auto 0.5rem;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    width: 50px;
    height: 50px;
    object-fit: contain;
}


img.fediverse-logo-content{
    max-width: 120px;
    float: left;
    margin-right: 2rem;
}

[data-bs-theme='light'] .github-logo {
    content: url('/images/logos/miscellaneous/GitHub-light.svg');
}

[data-bs-theme='dark'] .github-logo {
    content: url('/images/logos/miscellaneous/GitHub-dark.svg');
}