section{
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
}

.social-media-alternatives{
    max-width: 960px;
}

.sticky-top.animation-wrapper{
    z-index: -10 !important;
}

mark{
    padding: 0 !important;
}

header{
    z-index: 100;
}

/* header .navbar-nav {
    flex-direction: row !important;
} */

#language-switcher-wrapper{
    position: fixed;
    top: 0;
}

html[dir="LTR"] #language-switcher-wrapper{
    right: 1rem;
}


@media (max-width: 768px) {
    html[dir="RTL"] #language-switcher-wrapper{
        left: 1rem;
    }
}


@media (min-width: 768px) {
    html[dir="RTL"] #language-switcher-wrapper{
        right: 1rem;
    }
}
