tr {
  margin: 2rem 0;
}

tr:nth-child(even) {
  background-color: var(--table-bg-alt);
}

tr.highlighted td {
  border-top: 4px solid var(--color-highlight);
  border-bottom: 4px solid var(--color-highlight);
}

tr.highlighted td:first-child {
  border-left: 4px solid var(--color-highlight);
}

tr.highlighted td:last-child {
  border-right: 4px solid var(--color-highlight);
}
