:root {
    --color-primary: #91a1f4;
    --color-headline: #fffffe;
    --color-secondary: #72757e;
    --color-highlight: #7f5af0;
    --color-link: #7f5af0;
    --color-link-hover: #fffffe;
    --color-button: #7f5af0;
    --background-primary: #16161a;
}
