/* Light mode (default and explicit) */
:root,
[data-bs-theme="light"] {
    --color-primary: #5864b1;
    --color-headline: #000000;
    --color-secondary: #72757e;
    --color-highlight: #623cd3;
    --color-link: #623cd3;
    --color-link-hover: #000000;
    --color-button: #7f5af0;
    --background-primary: #f1f1fe;
}

[data-bs-theme="dark"] {
    --color-primary: #91a1f4;
    --color-headline: #fffffe;
    --color-secondary: #72757e;
    --color-highlight: #7f5af0;
    --color-link: #7f5af0;
    --color-link-hover: #fffffe;
    --color-button: #7f5af0;
    --background-primary: #16161a;
}