
@font-face {
  font-family: "IM_Fell_DW_Pica";
  src: url("IMFellDWPica-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-imfelldwpica {
  font-family: "IM_Fell_DW_Pica" !important;
}

@font-face {
  font-family: "IM_Fell_DW_Pica";
  src: url("IMFellDWPica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-imfelldwpica {
  font-family: "IM_Fell_DW_Pica" !important;
}

@font-face {
  font-family: "IM_Fell_DW_Pica";
  src: url("IMFellDWPica-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-imfelldwpica {
  font-family: "IM_Fell_DW_Pica" !important;
}

@font-face {
  font-family: "IM_Fell_DW_Pica";
  src: url("IMFellDWPica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-imfelldwpica {
  font-family: "IM_Fell_DW_Pica" !important;
}
