
@font-face {
  font-family: "Megrim";
  src: url("Megrim-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-megrim {
  font-family: "Megrim" !important;
}

@font-face {
  font-family: "Megrim";
  src: url("Megrim-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-megrim {
  font-family: "Megrim" !important;
}
