  @-webkit-keyframes move-dot1 {
    0% {
        transform: translateX(-50%) translateY(-50%);
    }
    20% {
        transform: translateX(-50%) translateY(30%);
    }
    100% {
        transform: translateX(-50%) translateY(30%);
    }
}
@keyframes move-dot1 {
    0% {
        transform: translateX(-50%) translateY(-50%);
    }
    20% {
        transform: translateX(-50%) translateY(30%);
    }
    100% {
        transform: translateX(-50%) translateY(30%);
    }
}
@-webkit-keyframes move-dot2 {
    0% {
        transform: translateX(-50%) translateY(-50%);
    }
    15% {
        transform: translateX(-50%) translateY(-10%);
    }
    30% {
        transform: translateX(20%) translateY(-10%);
    }
    100% {
        transform: translateX(20%) translateY(30%);
    }
}
@keyframes move-dot2 {
    0% {
        transform: translateX(-50%) translateY(-50%);
    }
    15% {
        transform: translateX(-50%) translateY(-10%);
    }
    30% {
        transform: translateX(20%) translateY(-10%);
    }
    100% {
        transform: translateX(20%) translateY(30%);
    }
}
.network-animation {
    position: relative;
    height: 100vw;
    width: 100vw;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}
.network-animation > .item {
    position: absolute;
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 100%;
    pointer-events: none;
}
.network-animation > .item:nth-child(2) {
    transform: translateX(-50%) rotate(90deg);
}
.network-animation > .item:nth-child(2) img {
    transform: rotate(-90deg);
}

.network-animation > .item:nth-child(3) {
    transform: translateX(-50%) rotate(180deg);
}
.network-animation > .item:nth-child(3) img {
    transform: rotate(-180deg);
}

.network-animation > .item:nth-child(4) {
    transform: translateX(-50%) rotate(270deg);
}
.network-animation > .item:nth-child(4) img {
    transform: rotate(-270deg);
}

.network-animation > .item > .line {
    height: 100%;
    width: calc(50% + 1px);
    border-right: 2px dashed var(--color-highlight);
}
.network-animation > .item > .dot {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 100%;
    -webkit-animation: move-dot1 5.5s linear infinite;
    animation: move-dot1 5.5s linear infinite;
}
.network-animation > .item > .dot::after {
    content: '✉️';
    position: absolute;
    /* top: 50%;
    left: 50%; */
    top: 42%;
    left: 42%;
    transform: translateX(-50%) translateY(-50%);
    height: 5%;
    width: 5%;
    z-index: 100;
    position: relative;
}
.network-animation > .item > .circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background: var(--color-primary);
}
.network-animation > .item.-type2 {
    top: 0;
    left: 0;
    transform: none;
    transform-origin: 100% 100%;
}
.network-animation > .item.-type2:nth-child(5) {
    transform: scaleX(-100%);
}
.network-animation > .item.-type2:nth-child(5) img{
    transform: scaleX(-100%);
}
.network-animation > .item.-type2:nth-child(6) {
    transform: scaleX(-100%) scaleY(-100%);
}
.network-animation > .item.-type2:nth-child(6) img{
    transform: scaleX(-100%) scaleY(-100%);
}
.network-animation > .item.-type2:nth-child(7) {
    transform: scaleY(-100%);
}
.network-animation > .item.-type2:nth-child(7) img{
    transform: scaleY(-100%);
}
.network-animation > .item.-type2 > .line {
    position: absolute;
    top: 30%;
    left: calc(30% - 1px);
    width: 70%;
    height: 40%;
    border-right: none;
    border-left: 2px dashed var(--color-highlight);
    border-bottom: 2px dashed var(--color-highlight);
}
.network-animation > .item.-type2 > .dot {
    top: 30%;
    left: 30%;
    -webkit-animation: move-dot2 4s linear infinite;
    animation: move-dot2 4s linear infinite;
}
.network-animation > .item.-type2 > .circle {
    top: 30%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
}
.network-animation > .item:nth-of-type(1) > .dot {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}
.network-animation > .item:nth-of-type(7) > .dot {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.network-animation > .item:nth-of-type(2) > .dot {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.network-animation > .item:nth-of-type(6) > .dot {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.network-animation > .item:nth-of-type(3) > .dot {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.network-animation > .item:nth-of-type(5) > .dot {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
.network-animation > .item:nth-of-type(4) > .dot {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.network-animation > .item:nth-of-type(8) > .dot {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}
.network-animation > .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 50%;
    width: 50%;
}
.network-animation > .center > .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
}
.network-animation > .center > .circle {
    height: 50%;
    width: 50%;
    background: var(--color-highlight);
}


@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-out {
    animation: fade-out 0.5s forwards !important;
}

.fade-in {
    animation: fade-in 0.5s forwards;
}

