body{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
}

h1, h2, h3, h4{
    font-family: 'Anton', sans-serif;
}

h1{
    font-size: 4rem;
}

.lead{
    font-size: 1.8rem;
}